h1{
    font-family:carattere, cursive;
    text-align: center;
    
}
body{
 
}
.navsig{
    text-align: end;
}
h4{
    font-family: carattere, cursive;
    text-align: center;
}
p{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;

}